<h2>Sign up</h2>

<%= ov_form resource, url: registration_path(resource_name) do %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= ov_text_field :email, autofocus: true, autocomplete: "email" %>
  <%= ov_password_field :password, autocomplete: "new-password" %>
  <%= ov_password_field :password_confirmation, autocomplete: "new-password" %>
  <%= ov_submit "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
