<% content_for :title, "#{ @klass_str }>" %>

<h1><%= @klass_str %></h1>

<%= render  @object %>

<br>

<div class='ov-button-row'>
<%= ov_edit @object %>
<%= ov_index @klass %>
<%= ov_delete @object %>
</div>
