<% content_for :title, "Editing #{ @klass_str }" %>

<h1>Editing <%= @klass_str %></h1>

<%= render "form", @klass_sym => @object %>

<br>

<div class='ov-button-row'>
<%= ov_show @object %>
<%= ov_index @klass %>
<%= ov_delete @object %>
</div>
