<div data-controller="hello">
  <button data-action="click->hello#hit">Click me!</button>
</div>

<%= ov_form  asset, wrapper_data: {controller: "dtcselect"} do %>
  <%= ov_errors %>
    <%= ov_select :assetable_type, data:{:"dtcselect-target"=>"selector",
    action: "change->dtcselect#update"} %>
  <% unless @ov_obj.assetable_type %>
  <% end %>
  <%= ov_string_field :name %>
  <%= ov_decimal_field :value %>
  <%= ov_string_field :notes %>
  <%= ov_string_field :location %>
  <%= ov_hidden_field :person_id %>
  <% select_tag :assetable_class,
     options_for_select(@ov_obj.class.assetable_types),
     class: "form-control",
     prompt: "Select Asset Type" %>
  <% @ov_obj.class.assetable_types.each do |asset_type| %>

  <%= ov_fields_for :assetable, using: asset_type, delegated_data:{:"dtcselect-target"=>"selected"} %>
  <% end %>
  <%= ov_submit %>
<% end %>
